// _colors.scss
$white:                 #FFFFFF;
$red:                   #C22020;
$green:                 #68A812;
$blue:                  #141C37;
$grey:                  #E8E9EC;

$bg-color-primary:      $blue;
$bg-color-validation:   $red;
$font-color-button-link:$green;

/* Colors (Picked with color-picker) */ 
