@import '../../styles/variables';

.main {
  position: relative;
  color: $white;
  background-color: $bg-color-primary;
  height: calc(100vh - 2.5rem);
  width: 100vw;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-control .label-link {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form-control input {
  width: 100%
}

a {
  color: $font-color-button-link;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background-color: $font-color-button-link;
  color: $white;
  cursor: pointer;
}

.validation {
  background-color: $bg-color-validation;
  color: $white;
}