@use '../../styles' as *;

main.login-container {
  position: relative;
  color: $white;
  background-color: $bg-color-primary;
  height: calc(100vh - $header-height);
  display: flex;
  justify-content: center;
  align-items: center;

  section.login-section {
    width: 300px;
  }
}

.form-control {
  margin-bottom: $spacing-large;

  .label-link {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: $spacing-x-small;
  }

  input {
    width: 100%;
    height: $input-height;
    border-radius: $border-radius-small;
    padding: 0 $spacing-small;
  }
} 