<main class="dashboard-container">
    <nav class="dashboard-menu">
      <ul class="dashboard-menu-items">
        <li class="dashboard-menu-item">
          <span class="icon material-symbols-outlined">Monitoring</span>
          <span class="label">Dashboard</span>
          <span class="caret material-symbols-outlined">keyboard_arrow_down</span>
        </li>
        <li class="dashboard-menu-item">
          <span class="icon material-symbols-outlined">Help</span>
          <span class="label">Help</span>
          <span class="caret material-symbols-outlined">keyboard_arrow_down</span>
        </li>
      </ul>
    </nav>
  <section class="dashboard-section">
    <div class="section-column">
      <h1>Hello [Name]</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla vehicula orci vitae rutrum. Sed sed velit viverra, condimentum magna at, consequat est.</p>
    </div>
  </section>
</main>