@use './app/styles' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: $font-basesize;
    line-height: 1.5;
    font-family: $font-family;
}

h1 {
    font-size: $fontsize-x-large;
    margin-bottom: $spacing-large;
}

label {
    font-weight: 500;
}

a {
    color: $font-color-button-link;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
  
button {
    background-color: $font-color-button-link;
    color: $white;
    font-size: $fontsize-medium;
    padding: $spacing-small;
    border-radius: $border-radius-small;
    cursor: pointer;
}

.validation {
    background-color: $bg-color-validation;
    color: $white;
    padding: $spacing-small;
    border-radius: $border-radius-small;
}